/*Estilo para el cuerpo*/
* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive


}    

body {
    background-color: rgb(250, 245, 239);
    margin: 40px
    
}

hr{
    margin: 15px 0;
}

.logo{
    max-width: 90px;
}
/*Estilos del menu*/

.menu-nav {
   
    display: flex;
    align-items: center;

}



.menu{
    display: flex;
    list-style: none;
    margin: 0 50px;
    padding: 0 20px;
    gap: 20px;

}
.btn-menu{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 15px;
    cursor: pointer;
}

.activo{
    background-color: rgb(72, 51, 39);
    color: rgb(247, 216, 199);
    border: 0px solid;
    border-radius: 5px;


}
.btn-menu:hover{
    color:  rgb(160, 58, 3);
}

.activo:hover{
    color: rgb(255, 255, 255);
}

/*estilo del contenido PG-inicio*/
.contenido{

    margin: 20px;
}

.publicidad{
    display: flex;
    align-content: center;
    margin-bottom: 30px; 
    flex-direction: column;
    align-items: center;

}
.publicidad img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80;
}

.bandeja{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
}

.tarjeta{
    border: 2px solid rgb(189, 189, 189);
    border-radius: 5px;
    padding: 10px;
    height: auto;  
}

.tarjeta h3{
    color: rgb(88, 88, 92);
}

.tarjeta a{
    color: rgb(189, 90, 25);
    text-decoration: none;
    margin: 0 10px;
}



/*Estilo del pie*/
.pie{
    background-color:   rgb(72, 51, 39);
    color: white;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;

}